@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');

            /*  carousel   */

@media only screen and (max-width:600px){

    .card{
        width:35%;
        margin: 50px 50px;
    }

    .div1-i {
        width: 48px;
        height: 22px;
        border-radius: 20px;
        margin-right: 10px;
        margin-top: -15px;
        margin-left: 60%;
    }
    
    .div2{
        margin-top: 30px;
    }

    .div2 h5{
        font-size: 10px;
    }

    .div1-i h2{
        font-size: 8px;
    }

    .div3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .wishlist{
        width: 34px;
        height: 1px;
    }

    .cart{
        width: 60px;
    }

    .cart button {
        width: 60px;
        height: 21px;
        border-radius: 20px;
        font-size: 6px;
    }


}


@media only screen and (min-width:600px) and (max-width:768px){

    .card{
        width:40%;
        margin: 50px 50px;
    }

    .div1-i{
        width: 68px;
        height: 32px;
        border-radius: 30px;
        margin-right: 10px;
        margin-top: -15px;
        margin-left: 70%;
    }
    
    .div2{
        margin-top: 50px;
    }

    .div2 h5{
        font-size: 13px;
    }

    .div1-i h2{
        font-size: 10px;
    }

    .div3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .wishlist{
        width: 37px;
        height: 31px;
    }

    .cart{
        width: 120px;
    }

    .cart button{
        width: 140px;
        height: 41px;
        border-radius: 20px;
        font-size: 12px;
    }


}


@media only screen and (min-width:768px) and (max-width:992px){

    .card{
        width: 30%;
        margin: 50px 50px;
    }

    .div1-i{
        width: 88px;
        height: 52px;
        border-radius: 30px;
        margin-right: 10px;
        margin-top: -25px;
        margin-left: 60%;
    }
    
    .div2{
        margin-top: 50px;
    }

    .div2 h5{
        font-size: 15px;
    }

    .div1-i h2{
        font-size: 14px;
    }

    .div3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .wishlist{
        width: 44px;
        height: 41px;
    }

    .cart{
        width: 140px;
    }

    .cart button{
        width: 140px;
        height: 41px;
        border-radius: 20px;
        font-size: 12px;
    }


}



@media only screen and (min-width:992px){

    .card{
        width: 18%;
        margin: 50px 50px;
    }

    .div1-i{
        width: 88px;
        height: 52px;
        border-radius: 30px;
        margin-right: 10px;
        margin-top: -25px;
        margin-left: 60%;
    }
    
    .div2{
        margin-top: 50px;
    }

    .div2 h5{
        font-size: 15px;
    }

    .div1-i h2{
        font-size: 14px;
    }

    .div3{
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .wishlist{
        width: 44px;
        height: 41px;
    }

    .cart{
        width: 140px;
    }

    .cart button{
        width: 140px;
        height: 41px;
        border-radius: 20px;
        font-size: 12px;
    }


}



.card{
    border: 1px solid #000000;
}

.card{
    height: auto;
    overflow: hidden;
    box-shadow: 5px 5px 10px #707070;
}

.card-up{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.card-up img{
    width: 100%;
    height: auto;
    image-rendering: auto;
    transform: scale(1);
    transition: transform 0.5s ease-in;
}

.card-up img:hover{
    transform: scale(1.2);
}

.card-down{
    width: 100%;
    height: auto;
}

.div1{
    width: 100%;
    height: auto;
    
}

.div1-i{
    background-color: #AD19F5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}

.div1-i h2{
    color: #FFFCFC;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.div2{
    width: 100%;
}

.div2 h5{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #707070;
}

.div3{
    display: flex;
    justify-content: space-around;
}

.wishlist button{
    background-color: inherit;
    border:0px;
}

.wishlist img{
    width: 100%;
    image-rendering: auto;
}

.cart{
    height: auto;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart button{
    background-color: #0D13CB;
    color: #FFFCFC;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 0px;
    
}

.cart button:hover{
    background-color: #FFFCFC;
    color: #0D13CB;
}